@using InformationHandlerApi.Database.Models
<div class="d-flex justify-content-between align-items-center p-2 border-bottom" style="background-color:@_color">
	<div class="d-flex flex-column flex-grow-1">
		<span class="flex-grow-1">@Program.Name</span>
		<span class="flex-grow-1">@Program.Path</span>
	</div>
	<Button @onclick="ToggleSelect" class="btn btn-primary">@_buttonText</Button>
</div>


@code {
	[Parameter]
	public DbRuleProgram Program { get; set; }

	const string _select = "Marcar";
	const string _unselect = "Desmarcar";

	private string _color = string.Empty;
	private string _buttonText = _select;

	void ToggleSelect()
	{
		if (Program.Selected)
		{
			Program.Selected = false;
			_color = string.Empty;
			_buttonText = _select;
			return;
		}

		Program.Selected = true;
		_color = "#89CFF0";
		_buttonText = _unselect;
		// _color = "Pink";
	}

	void UpdateSelect()
	{
		if (Program.Selected)
		{
			Program.Selected = true;
			_color = "#89CFF0";
			_buttonText = _unselect;
			return;
		}

		Program.Selected = false;
		_color = string.Empty;
		_buttonText = _select;
	}

	protected override void OnInitialized()
	{
		UpdateSelect();
		base.OnInitialized();
	}
}
