@page "/reports_home"
<PageTitle>Relatórios</PageTitle>

<AuthorizeView>
	<Authorized>
		<h3>Relatórios Disponíveis</h3>
		<div style="margin: 10px"><a class="btn btn-info" href="workstations">Máquinas</a></div>
		<div style="margin: 10px"><a class="btn btn-info" href="performance_report">Desempenho das máquinas</a></div>
		<div style="margin: 10px"><a class="btn btn-info" href="programs_per_workstation">Programas por máquina</a></div>
		<div style="margin: 10px"><a class="btn btn-info" href="reports_process">Processos finalizados</a></div>
	</Authorized>
	<NotAuthorized>
		<ClientServer.Client.Pages.Components.AccessDenied />
	</NotAuthorized>
</AuthorizeView>

@code {

}
