@page "/"
@using ClientServer.Client.BackgroundServices
@using ClientServer.Client.Models
@using ClientServer.Client.Services
@using ClientServer.Client.Services.Contracts

@inject StartupService _startupService
@inject PageNavigationHelper _pageNavigationHelper
@inject IUserSessionService _userSessionService
@inject PieChartManager _dataSetManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Seja bem vindo(a) ao Gerenciador Endpoint Protection</h1>
	</Authorized>
	<NotAuthorized>
		<h1>Seja bem vindo(a) ao Gerenciador Endpoint Protection</h1>
		<h2>Faça login para ter acesso às funcionalidades</h2>
	</NotAuthorized>
</AuthorizeView>

@code {

	//private PieChartManager _dataSetManager = new PieChartManager();

	protected override async Task OnInitializedAsync()
	{
		_dataSetManager.SetChartData(40, 60);

		await _startupService.SetUpApplication();

		var session = await _userSessionService.GetSessionInformationAsync();

		if (session is not null)
		{
			_pageNavigationHelper.SetUserName(session.UserName);
			StateHasChanged();
		}

	}
}
