@page "/rules"
<PageTitle>Regras</PageTitle>
<h3>Regras</h3>

<Button class="btn btn-info">Ver regras gerais</Button>
<Button class="btn btn-info">Ver regras por máquina</Button>
<Button class="btn btn-info">Criar regra geral</Button>
<Button class="btn btn-info">Criar regra para máquina</Button>

@code {

}
