@page "/rules"
@using System.Text.Json
@using ClientServer.Client.Operators.Contracts
@using ClientServer.Shared.Requests
@using InformationHandlerApi.Business.Responses
@using InformationHandlerApi.Contracts.Repositories
@using InformationHandlerApi.Database.Models
@inject ICustomSnackbarOperator _customSnackbarOperator;
@inject HttpClient Http
<PageTitle>Regras Gerais</PageTitle>
<h3>Regras Gerais</h3>
<ClientServer.Client.Pages.Components.CustomSnackbar SnackbarOperator="_customSnackbarOperator" />
@if (ShowConfirmation)
{
	<ClientServer.Client.Pages.Components.Confirmation.CustomMBox Title="Delete Confirmation"
																  Message="Are you sure you want to delete this item?"
																  OnConfirm="() => {}"
																  OnCancel="CancelAction" />
}

@if (_rules is null)
{
	<div>Carregando regras</div>
}
else
{
	<ul style="padding: 0; margin: 0; list-style: none;">
		@foreach (var item in _rules)
		{
			<div class="card" style="margin:10px">
				<ClientServer.Client.Pages.Rules.RuleItems.RuleToEditOrRemove Rule="@item"></ClientServer.Client.Pages.Rules.RuleItems.RuleToEditOrRemove>
				<div class="card-footer d-flex justify-content-end border-top-0 bg-white">
					<Button class="btn btn-danger me-2" @onclick="() => ShowDeleteConfirmation(item.RuleId)">
						<i class="bi bi-trash"></i> Apagar
					</Button>
					<Button class="btn btn-warning" @onclick="UpdateRule">
						<i class="bi bi-pencil"></i> Atualizar
					</Button>
				</div>
			</div>
		}
	</ul>
}



@code {
	private List<DbRule> _rules;
	private const string endpoint = "Rules";

	private bool ShowConfirmation = false;
	private int _id;

	private void ShowDeleteConfirmation(int ruleId)
	{
		_id = ruleId;
		ShowConfirmation = true;
	}

	private async Task DeleteRule()
	{
		ShowConfirmation = false;

		try
		{
			var url = $"{InformationHandler.GetUrl()}{endpoint}/Delete";

			var deleteRuleRequest = new DeleteRuleRequest(_id);

			var response = await Http.PostAsJsonAsync(url, JsonSerializer.SerializeToUtf8Bytes(deleteRuleRequest));

			if (response.IsSuccessStatusCode)
			{
				_customSnackbarOperator.ShowInformationMessage("Regra apagada com sucesso");
				await (new PeriodicTimer(TimeSpan.FromSeconds(2))).WaitForNextTickAsync();
				//TODO RELOAD PAGE
				return;
			}

			var content = await response.Content.ReadAsStringAsync();

			var standardResponse = JsonSerializer.Deserialize<StandardResponse>(content);

			_customSnackbarOperator.ShowErrorMessage(standardResponse.Message);
		}
		catch (Exception e)
		{
			_customSnackbarOperator.ShowErrorMessage(e.Message);
		}
	}

	private async Task UpdateRule()
	{

	}

	private void CancelAction()
	{
		_id = 0;
		ShowConfirmation = false;
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var url = $"{InformationHandler.GetUrl()}{endpoint}";

			var response = await Http.GetAsync(url);

			var content = await response.Content.ReadAsStringAsync();

			var ruleResponse = JsonSerializer.Deserialize<RuleResponse>(content);

			_rules = ruleResponse.Rules;

			await base.OnInitializedAsync();
		}
		catch (Exception e)
		{
			_customSnackbarOperator.ShowErrorMessage(e.Message);
		}
	}
}
