@page "/update_rule/{Identifier}"
@using ClientServer.Client.Operators
@using System.Text.Json
@using ClientServer.Client.Operators.Contracts
@using ClientServer.Client.Services
@using ClientServer.Shared.Reponses
@using ClientServer.Shared.Requests

<PageTitle>Criação de Regras</PageTitle>
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ICustomSnackbarOperator _customSnackbarOperator;
@inject PageNavigationHelper _pageNavigationHelper

<AuthorizeView>
	<NotAuthorized>
		<ClientServer.Client.Pages.Components.AccessDenied />
	</NotAuthorized>
	<Authorized>
		<ClientServer.Client.Pages.Components.CustomSnackbar SnackbarOperator="_customSnackbarOperator" />
		<h3>Selecione as aplicações para bloquear</h3>
		@if (_rule is null || _rule.ProgramsWithSelectedOnes is null)
		{
			<div>
				Carregando programas...
			</div>
		}
		else
		{
			<div style="margin-bottom:10px">
				<label>Nome da regra:</label>
				<input class="form-control" @bind="_rule.RuleName" placeholder="Por favor crie um nome para esta regra" />
			</div>
			<div style="max-height: 300px; overflow-y: auto; border: 1px solid #ddd; padding: 0; margin: 0;">
				<ul style="padding: 0; margin: 0; list-style: none;">
					@foreach (var item in _rule.ProgramsWithSelectedOnes)
					{
						<ClientServer.Client.Pages.Rules.RuleItems.ProgramToSelectItem Program="@item"></ClientServer.Client.Pages.Rules.RuleItems.ProgramToSelectItem>
					}
				</ul>
			</div>


			<Button @onclick=UpdateRuleOnServer style="margin-top:10px" class="btn btn-primary">Atualizar regra</Button>
		}
	</Authorized>
</AuthorizeView>

@code {
	[Parameter]
	public string Identifier { get; set; }

	private RuleWithSelectedProgramsResponse _rule;

	private async Task UpdateRuleOnServer()
	{
		try
		{
			_customSnackbarOperator.Hide();

			if (_rule.ProgramsWithSelectedOnes.Any(p => p.Selected) is false)
			{
				_customSnackbarOperator.ShowWarningMessage("Por favor selecione pelo menos uma aplicação para criar uma regra.");
				return;
			}

			if (string.IsNullOrWhiteSpace(_rule.RuleName))
			{
				_customSnackbarOperator.ShowWarningMessage("Cada regra precisa ter um nome.");
				return;
			}

			var selectedPrograms = _rule.ProgramsWithSelectedOnes.Where(p => p.Selected).ToList();

			const string endpoint = "Rules/Update";

			var url = $"{InformationHandler.GetUrl()}{endpoint}";

			var ruleRequest = new UpdateRuleRequest(_rule.RuleId, _rule.RuleName, selectedPrograms);

			var rawResponse = await Http.PostAsJsonAsync(url, JsonSerializer.SerializeToUtf8Bytes(ruleRequest));

			var response = JsonSerializer.Deserialize<StandardResponse>(await rawResponse.Content.ReadAsStringAsync());

			if (response.Success is false)
			{
				_customSnackbarOperator.ShowErrorMessage(response.Message);
				return;
			}

			_customSnackbarOperator.ShowInformationMessage("Regra atualizada com sucesso", "Você será redirecionado(a) à página de regras gerais em instantes");

			StateHasChanged();

			await (new PeriodicTimer(TimeSpan.FromSeconds(3))).WaitForNextTickAsync();

			NavigationManager.NavigateTo("rules");
		}
		catch (Exception e)
		{
			_customSnackbarOperator.ShowErrorMessage(e.Message);
		}
	}

	protected override void OnInitialized()
	{
		try
		{
			var rule = _pageNavigationHelper.GetValue<RuleWithSelectedProgramsResponse>(Identifier);

			if (rule is null)
			{
				_customSnackbarOperator.ShowErrorMessage("Houve um erro ao tentar atualizar esta regra");
				return;
			}

			_rule = rule;
		}
		catch (Exception e)
		{
			_customSnackbarOperator.ShowErrorMessage(e.Message);
		}
	}
}
