@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ClientServer.Client.Shared.CustomBtns.LoginLogoutButton></ClientServer.Client.Shared.CustomBtns.LoginLogoutButton>
            @* <a href="about">Sobre</a> *@
            @* <a href="about" target="_blank">Sobre</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
