@using ClientServer.Shared.DataTransferObjects
@using BlazorBootstrap;
@using System.Text.Json
@inject IJSRuntime jsRuntime

<h3>Máquinas</h3>

<Card Style="width:28rem;">
	<CardBody>
		<CardTitle>Nome da máquina: @Workstation.HostName</CardTitle>
		<CardSubTitle Class="mb-2 text-muted">UUID: @Workstation.Uuid</CardSubTitle>
		<Button Color="ButtonColor.Primary" @onclick="OpenWorkstationPage" Type="ButtonType.Link">Ver mais informações</Button>
	</CardBody>
</Card>

@code {
	[Parameter]
	public SimpleWorkstationItem Workstation { get; set; }


	public async Task OpenWorkstationPage()
	{
		var pageUrl = $"workstations/{Workstation.Id}";

		await jsRuntime.InvokeVoidAsync("open", pageUrl, "_blank");
	}
}
